<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="fileSystemSection"
               type="FileSystemWatcher.Configuration.FileSystemWatcherSection, FileSystemWatcher"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <fileSystemSection culture="en-US">
      <directories>
        <directory path="C:\\Test"/>
      </directories>
      <rules defaultDirectory="C:\\Test\\Default">
        <rule template="1.*" isIndexNumberRequired="false" isDateRequired="true" destinationDirectory="C:\\Test\\1Folder"/>
        <rule template="2.*" isIndexNumberRequired="true" isDateRequired="true" destinationDirectory="C:\\Test\\2Folder"/>
      </rules>
    </fileSystemSection>
</configuration>